.header_name {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 20px;
    z-index: 1;
}

.header_name h2 {
    font-size: 15px;
    position: absolute;
    top: 80px; 
}