html, body, .App {
    height: 100%;
    margin: 0;
  }
  
  .footer {
    background-color: orange;
    padding: 20px;
    height: 100%;
    box-sizing: border-box; 
  }
  

  .footer-content-right {
    display: flex;
    align-items: center;
  }
  
  .footer-content-right img {
    margin-right: 10px; 
    width: 50px;
    cursor: pointer;
  }
  