/* App.css */

.orange-circles {
    position: relative;
  }
  
  .orange-dot {
    position: absolute;
    width: 100px; 
    height: 100px; 
    background-color: orange;
    border-radius: 50%;
    z-index: -1;
  }
  